<h1>All Toys</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @toys.each do |toy| %>
            <tr>
                <td><%= toy.name %></td>
                <td><%= toy.description %></td>
                <td><%= link_to 'Show', toy_path(toy) %></td>
                <td><%= link_to 'Edit', edit_toy_path(toy) %></td>
                <td><%= link_to 'Delete', toy_path(toy), method: :delete, data: { confirm: "Are you sure?" }  %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<p>
<%= link_to "Create new toy", new_toy_path %>
</p>
