<h1>All Toys</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @toys.each do |toy| %>
            <tr>
                <td><%= toy.name %></td>
                <td><%= toy.description %></td>
                <td><%= link_to 'Show', toy_path(toy) %></td>
                <td><%= link_to 'Edit', edit_toy_path(toy) %></td>
                <td><%= link_to 'Delete', toy_path(toy), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>